@import url('https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.searchBar {
    margin-top: 60px;
    display: flex;
    gap: 16px;
}

.searchBar button {
    text-align: center;
    padding: 6px 10px;
    border: #000000 solid 1px;
    text-decoration: none;
    background-color: #ffffff;
    filter: drop-shadow(4px 4px #000000);
    cursor: pointer;
    font-family: "Comic Relief", system-ui;
    font-weight: 500;
    font-style: normal;
}

.searchBar button:hover {
    background-color: #98bcf5;
}

.searchBar input {
    width: 280px !important;
    background-image: url('../../assets/icons/searchIcon.svg');
    background-size: 20px 20px !important;
    background-repeat: no-repeat;
    background-position: 5px center;
    padding-left: 32px;

    font-family: "Comic Relief", system-ui;
    font-weight: 500;
    font-style: normal;
    border: #000000 solid 1px;
}

.searchBar input:focus {
    filter: drop-shadow(4px 4px #000000);
    outline: none;
}

.content {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.weather-card {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
}

.weather-card .weather-card-header {
    margin-bottom: 40px;
}

.weather-card .weather-card-header .weather-card-header-temperature {
    font-family: "Comic Relief", system-ui;
    font-weight: 800;
    font-style: normal;
    font-size: 64px;
    margin: 0;
    text-align: center;
    grid-column: 1;
}

.weather-card .weather-card-header  .weather-card-header-stats{
    font-family: "Comic Relief", system-ui;
    font-weight: 500;
    font-style: normal;
    margin-top: auto;
    margin-bottom: auto;
    grid-column: 3;
}

.weather-card .weather-card-header .weather-card-header-information {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    align-items: center;
    justify-items: center;
    gap: 20px;
}

.weather-card .weather-card-header .weather-card-header-information .weather-card-header-icon-container {
    grid-column: 2;
}

@media screen and (max-width: 650px) {
    .weather-card .weather-card-header .weather-card-header-information {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        justify-items: center;
        align-items: center;
    }

    .weather-card .weather-card-header .weather-card-header-temperature {
        grid-row: 1;
        grid-column: 1 / span 2;
        text-align: center;
    }

    .weather-card .weather-card-header .weather-card-header-information .weather-card-header-icon-container {
        grid-row: 2;
        grid-column: 1;
    }

    .weather-card .weather-card-header .weather-card-header-information .weather-card-header-stats {
        grid-row: 2;
        grid-column: 2;
    }
}

.weather-card .weather-card-header .weather-card-header-title .weather-card-header-title-text {
    font-family: "Comic Relief", system-ui;
    font-weight: 800;
    font-style: normal;
    font-size: 32px;
    text-align: center;
    margin-bottom: 12px;
    margin-top: 0;
}

.weather-card .weather-card-header .weather-card-header-information  .weather-card-header-icon-container .weather-icon{
    width: 120px;
}

.weather-card .weather-card-content {
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
    overflow: auto;
}

.weather-card .weather-card-content .weather-card-content-day .day{
    font-family: "Comic Relief", system-ui;
    font-weight: 500;
    font-style: normal;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}

.weather-card .weather-card-content .weather-card-content-day .weather-icon{
    width: 80px;
    height: 80px;
}

.weather-card .weather-card-content .weather-card-content-day .weather-text{
    font-family: "Comic Relief", system-ui;
    font-weight: 500;
    font-style: normal;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}

.weather-card .weather-card-content .weather-card-content-day .temp{
    font-family: "Comic Relief", system-ui;
    font-weight: 500;
    font-style: normal;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}

.weather-card-content-day {
    cursor: pointer;

}
