body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header, footer {
    flex-shrink: 0;
}

.navbar {
    position: relative;
    top: 24px;
    right: 0;
    display: flex;
    justify-content: end;
}

.navbar a:hover {
    background-color: #98bcf5;
    color: black;
}

.navbar a.active {
    background-color: #98bcf5;
}

.navbar a {
    text-align: center;
    padding: 8px 16px;
    border: #000000 solid 1px;
    text-decoration: none;
    color: #000000;
    background-color: #ffffff;
    filter: drop-shadow(6px 8px #000000);
    cursor: pointer;
    font-family: "Comic Relief", system-ui;
    font-weight: 500;
    font-style: normal;
}

.footer-text {
    font-family: "Comic Relief", system-ui;
    font-weight: 500;
    font-style: normal;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    padding-bottom: 34px;
    padding-top: 34px;
}

p, h1, h2, h3, h4, h5, h6 {
    font-family: "Comic Relief", system-ui;
    font-style: normal;
}

@media screen and (max-width: 800px) {
    html {
        margin-left: 25px;
        margin-right: 25px;
    }
}

@media screen and (min-width: 800px) and (max-width: 1350px) {
    html {
        margin-left: 100px;
        margin-right: 100px;
    }
}


@media screen and (min-width: 1350px) {
    html {
        margin-left: 300px;
        margin-right: 300px;
    }
}
